
.a {
	width:70%;
	height:60px;
	margin:5px auto;
	padding:5px;
	background-color:#FF0000;
}
.b {
	width:70%;
	height:60px;
	margin:5px auto;
	padding:5px;
	background-color:#FF8000;
}
.c {
	width:70%;
	height:60px;
	margin:5px auto;
	padding:5px;
	background-color:#ffff00;
}
.d {
	width:70%;
	height:60px;
	margin:5px auto;
	padding:5px;
	background-color:#00FF00;
}
.e {
	width:70%;
	height:60px;
	margin:5px auto;
	padding:5px;
	background-color:#00bfff;
}
.f {
	width:70%;
	height:60px;
	margin:5px auto;
	padding:5px;
	background-color:#0000ff;
}
.g {
	width:70%;
	height:60px;
	margin:5px auto;
	padding:5px;
	background-color:#ff00ff;
}
.h {
	width:70%;
	height:60px;
	margin:5px auto;
	padding:5px;
	background-color:#000000;
}